
.arrow{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  color: ivory;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  background-color: skyblue;
  
}
