@charset utf-8;

/* CSS초기화 */
* { 
margin:0; 
padding:0; 
border:0; 
font-size:100%; 
vertical-align:baseline; 
background:transparent;
}
body {
	font-family:'나눔스퀘어';
	line-height:1;
}
article,aside,section,footer,header,nav,menu {
	display:block;
}
a { text-decoration:none; }
li {
	list-style:none;
	list-style-position:inside;
}
img {
	vertical-align:top;
	border:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
address {
	font-style:normal;
}
