<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="scoreMapper">

    <resultMap id="score" type="com.green.DB_Score.vo.StudentVO">
        <!--조회된 데이터를 멤버vo에 연결시켜주는 작업중 -->
        <result column="STU_NUM"        property="stuNum" />
        <result column="STU_NAME"       property="stuName"/>
        <result column="KOR_SCORE"      property="korScore"/>
        <result column="ENG_SCORE"      property="engScore"/>
        <result column="INTRO"          property="intro"/>
    </resultMap>

    <!--학생목록조회-->
    <select id="getStuList" resultMap="score">
        SELECT STU_NUM
              ,STU_NAME
              ,KOR_SCORE
              ,ENG_SCORE
        FROM SCORE_INFO;
    </select>

    <!--학생등록 쿼리-->
    <insert id="insertStudent">
        INSERT INTO SCORE_INFO(
         STU_NUM
        ,STU_NAME
        ,KOR_SCORE
        ,ENG_SCORE
        ,INTRO
        ) VALUES(
            #{stuNum}
            , #{stuName}
            , #{korScore}
            , #{engScore}
            , #{intro}
        );
    </insert>

    <!--상세페이지-->
    <select id="getStuDetail" resultMap="score">
        SELECT STU_NUM
        ,STU_NAME
        ,KOR_SCORE
        ,ENG_SCORE
        ,INTRO
        FROM SCORE_INFO
        WHERE STU_NUM = #{stuNum};
        <!--내가 클릭한 학생걸로 되어야하니까 학번수식어 넣ㄴ는거임!-->
    </select>

    <!--삭제하기-->
    <delete id="stuDelete">
        DELETE FROM SCORE_INFO
        WHERE STU_NUM = #{stuNum};
    </delete>

    <!--수정합시다!-->

    <update id="stuUpdate">
        UPDATE SCORE_INFO
        SET
            STU_NAME = #{stuName}
            ,KOR_SCORE = #{korScore}
            ,ENG_SCORE = #{engScore}
            ,INTRO = #{intro}
        WHERE STU_NUM = #{stuNum};
    </update>

</mapper>































