<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생정보 수정하기</title>
</head>
<body>
  
<form action="/updateStu" method="post">
  <input type="hidden" name="year" th:value="${student.year}"> 
  <!-- 데이터가 필요하기위해서 가져가야함! -->
  <table>
    <tr>
      <td>학번</td>
      <td>[[${student.year}]]</td>
      <td>이름</td>
      <td>
        <input type="text" name="name" th:value="${student.name}">
      </td>
    </tr>
    <tr>
      <td>국어점수</td>
      <td>
        <input type="text" name="korScore" th:value="${student.korScore}">
      </td>
      <td>영어점수</td>
      <td>
        <input type="text" name="engScore" th:value="${student.engScore}">
      </td>
    </tr>
    <tr>
      <td>자기소개</td>
      <td colspan="3">
        <textarea name="intro">[[${student.intro}]]</textarea>
      </td>
    </tr>
  </table>
  <input type="submit" value="뒤로가기">
  <button type="submit">정보수정</button>
</form>
</body>
</html>